/* Fonts */

@font-face {
    font-family: "Coolvetica";
    src: url("../fonts/coolvetica.ttf");
}

@font-face {
    font-family: "Ananda";
    src: url("../fonts/Ananda.ttf");
}

@font-face {
    font-family: "AnandaBlack";
    src: url("../fonts/AnandaBlack.ttf");
}

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0px;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

div {
    box-sizing: border-box;
}

/* Responsive Grids */

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* .header */

.header {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 100;
    transition: background-color 200ms linear;
}

.header.scrolled {
    background-color: #575757 !important;
    transition: background-color 0.5s linear;
}

.nav-menu {
    padding: 1px;
}

.nav-menu li {
    list-style-type: none;
    padding: 0;
    text-align: center;
    font-family: 'Coolvetica';
    color: White;

}

.bar-icon {
    position: fixed;
    text-align: left;
    color: white;
    visibility: hidden;
}

.menu-point {
    position: relative;
    color: #000;
    text-decoration: none;
}

/* Cool hover effect */

.menu-point:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.menu-point:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
}

/* main */

main {
    width: 100%;
    height: 500%;
}

.section {
    height: 20%;
    width: 100%;
    float: left;
}


/* Landing Page */

.landing-page {
    background-image: url(../images/landing3.jpg);
    background-size: cover;
    padding-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: space-around;
}

.title-container {
    text-align: center;
    float: left;
    font-family: 'Ananda';
    height: auto;
    font-size: 5vw;
    color: white;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 150);
}


.discover-button {
    height: 100px;
    width: 200px;
    margin: 0 auto;
    font-family: 'Ananda';
    font-size: 1.5vw;
    color: white;

    background-color: #ffda8f;
    border-radius: 10px;

    text-align: center;
    vertical-align: middle;
    line-height: 100px;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: 0.3s;

    clear: both;
    text-decoration: none;

}

#discoverButton {
    text-decoration: none;
    margin-top: -50px;
}

.discover-button:hover {
    transition: 2s;
    cursor: pointer;
}

.phrase {
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: Arial;
}

/* Unser Eis */

.our-ice {
    padding: 0;
}

.left-section {
    padding-top: 60px;
    float: left;
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: space-around;
}

.section-caption {
    font-family: "Ananda";
    font-size: 4vw;
    text-align: center;
    text-decoration: underline;
}

.card-section {
    height: 20%;
    background-color: white;
    box-shadow: 0 2px 5px 0px rgba(100, 100, 100, 20);
    border: 1px solid rgba(100, 100, 100, 100);
}

.card-image {
    float: left;
    display: block;
    max-height: 100%;
    width: auto;
    border-radius: 50%;
    margin-right: 20px;
}

.card-caption {
    font-family: "Coolvetica";
    font-size: 2vw;
    margin-bottom: -10px;
}

.card-text {
    font-size: 1vw;
    color: #555555;
    max-width: 90%;
}

.right-section {
    float: left;
    height: 100%;
    padding: 0;
    background-image: url(../images/ice-cream.jpg);
}

/* Über uns */

.about-us {
    padding-top: 80px;
    text-align: center;
    float: left;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: space-around;
}

.about-us .section-caption {
    margin-bottom: -70px;
}

.about-us .section-text {
    font-size: 1.5vw;
    color: #555555;
}

.about-us .card-section {
    float: left;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 40%;
    max-width: 22%;
}

.about-us .card-section .card-image {
    width: 60%;
    margin: 0;
    border: 2px solid grey;
}

.card-container {
    float: left;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: space-around;
}

.employee-text {
    font-size: 20px: color: #222222
}

.employee-name {
    margin: 0;
    font-size: 18px;
    font-family: "Coolvetica";
    color: #555555;
}

.employee-role {
    margin: 0;
    font-size: 14px;
    color: #555555;
    font-style: italic;
}

/* Menu */

.menu {
    padding: 0;
}

.menu-alignment {
    align-items: center;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
}

.menu-listing {
    height: 100%;
    border-right: 5px solid #555555;
}

.menu-content {
    height: 100%;
}

.menu-.header {
    height: 20%;
}

.menu-body {
    height: 80%;
}

.menu-listing .menu-.header {
    padding-top: 60px;
}

.menu-listing .menu-body {
    padding-top: 50px;
}

.menu-listing ul {
    height: 100%;
    text-align: center;
    font-family: "Coolvetica";
    font-size: 2vw;
    color: #666666;
    transition: 0.3s;
}

.menu-listing ul li {
    margin: 60px;
    list-style: none;
}

.menu-listing ul li:hover {
    cursor: pointer;
}

.menu-listing-body {
    height: 100%;
    position: absolute;
    padding: 50px;
}

.menu-listing .menu-body {}

.menu-content .menu-.header {
    padding-top: 60px;
}

.menu-caption {
    font-family: "Ananda";
    font-size: 4vw;
    text-align: center;
    padding-left: -10px;
    text-decoration: underline;
}

.menu-content .menu-caption {}

.menu-list ul {
    padding: 10px;
    list-style: none;
    text-align: center;
}

.menu-list ul li {
    padding: 20px;
    font-size: 2.5vw;
    font-family: "Ananda";
    color: #555555;
}

/* Kontakt */

.contact {
    align-items: center;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    display: flex;
    padding-top: 80px;
    height: calc(20% - 70px);
}

.contact-form {
    margin: auto;
}

.contact-form input {
    align-items: center;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: space-around;
    display: block;
    border: 2px solid grey;
    background-color: #f3f3f3;
    font-size: 1.5vw;
    margin-bottom: 20px;
    padding: 15px;
    width: 50%;
    height: 60px;
    font-family: Arial;
}

#Anliegen {
    margin-top: 70px;
    display: block;
    border: 2px solid grey;
    background-color: #f3f3f3;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 15px;
    width: 50%;
    height: 70px;
    height: 250px;
    width: 90%;
    font-family: Arial;
}

#Senden {
    width: 30%;
    height: 70px;
}

/* Footer */

.footer {
    float: left;
    height: 70px;
    background-color: #575757;
}

.footer-print {
    color: white;
    font-family: "Ananda";
    padding: 0;
    text-align: center;
}

.footer-copyright {
    color: white;
    padding: 0;
    text-align: right;
}







@media (min-width: 320px) and (max-width: 480px) {
    .left-section {
        width: 100%;
    }

    .right-section {
        width: 0%;
        visibility: hidden;
    }

    .section-caption {
        font-size: 8vw;
    }

    .our-ice .card-section {
        width: 90%;
        height: 15%;
    }

    .card-caption {
        font-size: 20px;
        padding: 0;
        margin: 0;
    }

    .card-text {
        font-size: 2.5vw;
    }

    .menu-content ul {
        font-size: 40px;
    }

    .about-us .card-container {
        flex-direction: row-reverse;

    }
    .about-us .card-section {
        width: 90%;
        height: 15%;
        max-width: 100%;
    }

    .about-us .section-text {
        visibility: hidden;
    }

    .card-container {
        overflow: hidden;
    }

    .card-container .card-section:nth-of-type(2) {
        visibility: hidden;
    }

    .card-container .card-section:nth-of-type(3) {
        visibility: hidden;
    }

    .section {
        overflow: hidden;
    }

    .title-container {
        font-size: 5vh;
    }
    .discover-button {
        font-size: 3vh;
    }

    .menu-caption {
        font-size: 5vh;
        padding: 0;
        text-align: center;
    }
    .menu-content {
        padding: 0;
        margin: 0;
        width: 98%;
    }

    .menu-content .menu-.header {
        width: 100%;
    }

    .menu-listing {
        visibility: hidden;
        width: 0%;
    }

    .menu-listing-body {
        width: 100%;
        padding: 30px;
    }

    .menu-list li {
        width: 50%;
        text-align: right;
    }

    .menu-list ul li {
        font-size: 2.5vh;
        text-align: left;
    }

    .contact-form {
        width: 100%;
    }

    .contact-form input {
        width: 100%;
        font-size: 2vh;
    }

    #Anliegen {
        width: 100%;
        height: 20%;
        margin-top: 0px;
        font-size: 16px;
    }

    #Senden {
        height: 100%;
    }

    .header {
        padding: 0;
        width: 100%;
        background-color: #575757;
        height: 60px;
        right: 0;
    }

    .nav-menu {
        height: 0px;
        width: 100%;
        transition: 0.5s;
        overflow: hidden;
        right: 0;
    }

    .navMenu {
        visibility: hidden;
        transition: 0.4s;
        height: 0px;
    }

    .nav-menu li {
        display: block;
        float: none;
        text-decoration: none;
        border-bottom: 1px solid white;
    }

    .nav-menu ul {
        padding: 0;
    }

    .menu-point {
        width: 100%;
        background-color: #575757;
        height: 50px;
        font-size: 25px;
        margin: 0;
        padding: 0;
        line-height: 50px;
    }

    .menu-link {
        text-decoration: none;
    }
    .bar-icon {
        visibility: visible;
        z-index: 200;
        padding: 15px;
    }

    .menu-point:before {
        text-decoration: none;
    }

    .menu-point:hover:before {
        visibility: hidden;
    }

    .filler {
        width: 0px;
        height: 0px;
        margin: 0px;
        padding: 0px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .left-section {
        width: 100%;
    }

    .right-section {
        width: 0%;
        visibility: hidden;
    }

    .section-caption {
        font-size: 8vw;
    }


    .card-caption {
        font-size: 2vw;
        padding: 0;
        margin: 0;
    }

    .card-text {
        font-size: 1.5vw;
    }

    .menu-content ul {
        font-size: 40px;
    }

    .about-us .card-section {
        width: 30%;
        height: 100%;
        max-width: 100%;
        overflow: hidden;
        padding: 5px;
    }

    .about-us .card-image {
        width: 50%;
    }

    .about-us .employee-text {
        visibility: hidden;
        height: 0px;
        margin: 0;
        padding: 0;
    }

    .about-us .section-text {
        visibility: hidden;
    }

    .card-section {
        padding: 5px;
    }
    .card-section .card-image {
        height: 100%;
    }

    .card-container {
        overflow: hidden;
    }

    .section {
        overflow: hidden;
    }

    .title-container {
        font-size: 5vw;
    }
    .discover-button {

        font-size: 3vw;
    }

    .menu-caption {
        font-size: 5vw;
        padding: 0;
        text-align: center;
    }

    .menu {
        padding-top: 60px;
        overflow: hidden;
    }

    .menu-content {
        padding: 0;
        margin: 0;
        width: 98%;
    }

    .menu-content .menu-header {
        width: 100%;
    }

    .menu-listing {
        visibility: hidden;
        width: 0%;
    }

    .menu-content .menu-body {
        padding: 0;

    }

    .menu-listing-body {
        width: 100%;
        padding: 0;
    }

    .menu-list {
        margin-top: -90px;
        overflow: hidden;
        height: 80%;
    }
    .menu-list li {
        width: 50%;
        text-align: right;
    }

    .menu-list ul li {
        font-size: 2vw;
        text-align: left;
    }


    .contact .section-caption {
        font-size: 5vw;
    }

    .contact-form {
        width: 100%;
    }

    .contact-form input {
        flex-direction: row;
        flex-flow: column wrap;
        height: 20px;
        font-size: 2vw;
        margin-bottom: 2px;
    }

    #Anliegen {
        width: 70%;
        height: 50%;
        margin-top: 0px;
        font-size: 16px;
        float: left;
    }

    #Senden {
        height: 100%;
        float: right;
    }

    .header {
        padding: 0;
        width: 100%;
        background-color: #575757;
        height: 60px;
        right: 0;
    }

    .nav-menu {
        height: 0px;
        width: 100%;
        transition: 0.5s;
        overflow: hidden;
        right: 0;
    }

    .navMenu {
        visibility: hidden;
        transition: 0.4s;
        height: 0px;
    }

    .nav-menu li {
        display: block;
        float: none;
        text-decoration: none;
        border-bottom: 1px solid white;
    }

    .nav-menu ul {
        padding: 0;
    }

    .menu-point {
        width: 100%;
        background-color: #575757;
        height: 50px;
        font-size: 25px;
        margin: 0;
        padding: 0;
        line-height: 50px;
    }

    .menu-link {
        text-decoration: none;
    }
    .bar-icon {
        visibility: visible;
        z-index: 200;
        padding: 15px;
    }

    .menu-point:before {
        text-decoration: none;
    }

    .menu-point:hover:before {
        visibility: hidden;
    }

    .filler {
        width: 0px;
        height: 0px;
        margin: 0px;
        padding: 0px;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {

    .left-section {
        width: 100%;
    }

    .right-section {
        width: 0%;
        visibility: hidden;
    }

    .section-caption {
        font-size: 8vw;
    }

    .our-ice .card-section {
        width: 90%;
        height: 15%;
    }

    .card-caption {
        font-size: 20px;
        padding: 0;
        margin: 0;
    }

    .card-text {
        font-size: 2.5vw;
    }

    .menu-content ul {
        font-size: 40px;
    }

    .about-us .card-container {
        flex-direction: row-reverse;

    }
    .about-us .card-section {
        width: 90%;
        height: 15%;
        max-width: 100%;
    }

    .about-us .section-text {
        visibility: hidden;
    }


    .card-container {
        overflow: hidden;
    }

    .card-container .card-section:nth-of-type(2) {
        visibility: hidden;
    }

    .card-container .card-section:nth-of-type(3) {
        visibility: hidden;
    }

    .section {
        overflow: hidden;
    }

    .title-container {
        font-size: 5vh;
    }
    .discover-button {
        font-size: 3vh;
    }

    .menu-caption {
        font-size: 5vh;
        padding: 0;
        text-align: center;
    }
    .menu-content {
        padding: 0;
        margin: 0;
        width: 98%;
    }

    .menu-content .menu-.header {
        width: 100%;
    }

    .menu-listing {
        visibility: hidden;
        width: 0%;
    }

    .menu-listing-body {
        width: 100%;
        padding: 30px;
    }

    .menu-list li {
        width: 50%;
        text-align: right;
    }

    .menu-list ul li {
        font-size: 2.5vh;
        text-align: left;
    }

    .contact-form {
        width: 100%;
    }

    .contact-form input {
        width: 100%;
        font-size: 2vh;
        margin-bottom: 40px;
        height: 70px;
    }

    #Anliegen {
        width: 100%;
        height: 200px;
        margin-top: 0px;
        font-size: 16px;
    }

    #Senden {
        height: 100%;
    }

    .header {
        padding: 0;
        width: 100%;
        background-color: #575757;
        height: 60px;
        right: 0;
    }

    .nav-menu {
        height: 0px;
        width: 100%;
        transition: 0.5s;
        overflow: hidden;
        right: 0;
    }

    .navMenu {
        visibility: hidden;
        transition: 0.4s;
        height: 0px;
    }

    .nav-menu li {
        display: block;
        float: none;
        text-decoration: none;
        border-bottom: 1px solid white;
    }

    .nav-menu ul {
        padding: 0;
    }

    .menu-point {
        width: 100%;
        background-color: #575757;
        height: 50px;
        font-size: 25px;
        margin: 0;
        padding: 0;
        line-height: 50px;
    }

    .menu-link {
        text-decoration: none;
    }
    .bar-icon {
        visibility: visible;
        z-index: 200;
        padding: 15px;
    }

    .menu-point:before {
        text-decoration: none;
    }

    .menu-point:hover:before {
        visibility: hidden;
    }

    .filler {
        width: 0px;
        height: 0px;
        margin: 0px;
        padding: 0px;
    }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


    .left-section {
        width: 100%;
    }

    .right-section {
        width: 0%;
        visibility: hidden;
    }

    .section-caption {
        font-size: 8vw;
    }


    .card-caption {
        font-size: 2vw;
        padding: 0;
        margin: 0;
    }

    .card-text {
        font-size: 1.5vw;
    }

    .menu-content ul {
        font-size: 40px;
    }

    .about-us .card-section {
        width: 30%;
        height: 100%;
        max-width: 100%;
        overflow: hidden;
        padding: 5px;
    }

    .about-us .card-image {
        width: 50%;
    }

    .about-us .employee-text {
        visibility: hidden;
        height: 0px;
        margin: 0;
        padding: 0;
    }

    .about-us .section-text {
        visibility: hidden;
    }

    .card-section {
        padding: 5px;
    }
    .card-section .card-image {
        height: 100%;
    }

    .card-container {
        overflow: hidden;
    }

    .section {
        overflow: hidden;
    }

    .title-container {
        font-size: 5vw;
    }
    .discover-button {

        font-size: 3vw;
    }

    .menu-caption {
        font-size: 5vw;
        padding: 0;
        text-align: center;
    }

    .menu {
        padding-top: 60px;
        overflow: hidden;
    }

    .menu-content {
        padding: 0;
        margin: 0;
        width: 98%;
    }

    .menu-content .menu-header {
        width: 100%;
    }

    .menu-listing {
        visibility: hidden;
        width: 0%;
    }

    .menu-content .menu-body {
        padding: 0;

    }

    .menu-listing-body {
        width: 100%;
        padding: 0;
    }

    .menu-list {
        margin-top: -90px;
        overflow: hidden;
        height: 80%;
    }
    .menu-list li {
        width: 50%;
        text-align: right;
    }

    .menu-list ul li {
        font-size: 2vw;
        text-align: left;
    }


    .contact .section-caption {
        font-size: 5vw;
    }

    .contact-form {
        width: 100%;
    }

    .contact-form input {
        flex-direction: row;
        flex-flow: column wrap;
        height: 20px;
        font-size: 2vw;
        margin-bottom: 2px;
    }

    #Anliegen {
        width: 70%;
        height: 50%;
        margin-top: 0px;
        font-size: 16px;
        float: left;
    }

    #Senden {
        height: 100%;
        float: right;
    }

    .header {
        padding: 0;
        width: 100%;
        background-color: #575757;
        height: 60px;
        right: 0;
    }

    .nav-menu {
        height: 0px;
        width: 100%;
        transition: 0.5s;
        overflow: hidden;
        right: 0;
    }

    .navMenu {
        visibility: hidden;
        transition: 0.4s;
        height: 0px;
    }

    .nav-menu li {
        display: block;
        float: none;
        text-decoration: none;
        border-bottom: 1px solid white;
    }

    .nav-menu ul {
        padding: 0;
    }

    .menu-point {
        width: 100%;
        background-color: #575757;
        height: 50px;
        font-size: 25px;
        margin: 0;
        padding: 0;
        line-height: 50px;
    }

    .menu-link {
        text-decoration: none;
    }
    .bar-icon {
        visibility: visible;
        z-index: 200;
        padding: 15px;
    }

    .menu-point:before {
        text-decoration: none;
    }

    .menu-point:hover:before {
        visibility: hidden;
    }

    .filler {
        width: 0px;
        height: 0px;
        margin: 0px;
        padding: 0px;
    }

}
